# https://help.github.com/en/articles/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @cloudbees/team-support will be requested for
# review when someone opens a pull request.

*       @aheritier @johnou @duemir
