target
*.iml
build
.DS_Store

# IntelliJ project files
*.iml
*.ipr
*.iws
.idea

# eclipse project file
.settings
.classpath
.project

.DS_Store

# ignore the file with the credentials
src/test/resources/zendesk.properties
